:root {
	background-color: #472d60;
}

body {
	background-color: #472d60;
}

#console {
	font-family: Courier, monospace;
	color: #ffffff;
	width: 750px;
	margin: 100px auto 0;
	font-size: 14px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

#a {
	color: #ffffff;
}

#c {
	color: #ffffff;
}

#b {
	color: #ffffff;
}

#k {
	animation: change 1s;
}

#op {
	color: #ffffff;
}

@keyframes change {
	0% { color: #ffffff; }
	50% { color: #ffffff; }
	99% { color: #ffffff; }
}
